* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 30px;
}

.container {
    filter: contrast(30);
    background: #fff;
}

.caja {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #f00;
    margin: 40px;
    border-radius: 50%;
    filter: blur(20px);
}

.caja:first-child {
    animation: trasladar 3s alternate infinite linear;
}

@keyframes trasladar {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(240px);
    }
}