* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.flex-container {
    /* Con esta propiedad aplicamos flexbox */
    display: flex;
    background: #fa4;
    margin-bottom: 20px;
}

.flex-item {
    background: #248;
    color: #fff;
    margin: 5px;
}