* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 30px;
}

h2 {
    /* Esta propiedad permite cambiar una caja en block a una en inline pero conservando u otrorgando caracteristicas (depende del estado de la caja si es block o inline) de una caja en block*/
    display: inline-block;
    /* Esta propiedad modifica el color de fondo de la caja */
    background-color: red;
    /* La siguente propiedad realiza lo mismo que el padding solo que que ahora el espacio es entre las cajas y no el contenido con los bordes de su caja */
    margin: 10px;
}