* {
    font-family: 'Sen', cursive;
    font-weight: 100;
    font-size: 20px;
}

.container {
    padding: 20px;
    background: #59f;
    /* Esta propiedad cambia la posicion de el texto. */
    direction: rtl;
    /* Esta propiedad modifica el espaciado entre letras. */
    letter-spacing: 5px;
}

#container {
    background: #f00;
    /* Esta propiedad no permite seleccionar nada. */
    user-select: none;
}