* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 20px;
}

.container {
    margin: auto;
    margin-top: 50px;
    border: solid 4px red;
    background: grey;
    width: 50%;
    padding: 20px;
}

img {
    /* Esta propeidad permite mover los elementos hacia la izquierda o hacia la derecha. Sus valores son left y right.
    Esta propiedad se usaba antes para hacer paginas webs, pero ahora con la llegada de Flex box y CSS Grid esta propiedad ahora solo se usa para hacer lo que hicimos en este ejemplo. */
    float: left;
    width: 300px;
    margin-right: 18px;
}